{{ 'text-popup.css' | asset_url | stylesheet_tag }}

<div class="text-popup-wrapper">
  <div class="text-popup-card">
    <div class="icon-wrapper">
      <svg width="45" height="74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#drink_svg__a)"><path d="M41.39 47.296c-.158-.232-.315-.46-.482-.7-1.027-1.488-1.84-2.663-2.057-4.135-.47-3.158 0-4.62.452-6.033.316-.99.677-2.114.693-3.538.025-2.053-.854-3.779-2.473-4.855a5.637 5.637 0 0 0-3.136-.934c-.953 0-1.912.233-2.79.672l.006-.927c0-.187-.008-.377-.03-.568.014-.097.024-.188.03-.275.01-.103.012-.199.012-.289v-.04l-.001-.03a3.938 3.938 0 0 0-.025-.381 1.12 1.12 0 0 0-.015-.087 3.568 3.568 0 0 0-.059-.323l-.012-.042c-.322-1.288-1.345-2.295-3.04-2.995a6.483 6.483 0 0 0 1.838-1.65 6.47 6.47 0 0 0 1.257-4.822 6.452 6.452 0 0 0-1.65-3.506 5.642 5.642 0 0 0 2.315.045 5.651 5.651 0 0 0 3.474-2.15 5.62 5.62 0 0 0 1.093-4.196 5.634 5.634 0 0 0-2.194-3.743A5.621 5.621 0 0 0 30.399.7a5.63 5.63 0 0 0-3.744 2.196 5.699 5.699 0 0 0-.681 1.169c-.814-1.635-2.503-2.746-4.406-2.746a4.894 4.894 0 0 0-3.928 1.953 4.894 4.894 0 0 0-.95 3.645 4.945 4.945 0 0 0 4.366 4.22c-.422.337-.806.73-1.142 1.173a6.465 6.465 0 0 0-1.313 3.65 7.168 7.168 0 0 0-3.759-4.553L5.234 6.7c-.407-.199-.84-.3-1.29-.3-1.13 0-2.14.63-2.637 1.644l-.823 1.68a2.92 2.92 0 0 0-.141 2.24c.254.743.781 1.34 1.485 1.686l9.339 4.573.534 3.297c-.882.265-1.638.589-2.255.966-1.258.768-1.963 1.769-2.094 2.973a3.832 3.832 0 0 0-.025.452v.025c0 .054.003.109.006.163a4.664 4.664 0 0 0-.043.605l-.034 5.968a7.16 7.16 0 0 0-.247-.004c-2.436 0-4.63 1.317-5.726 3.437a5.986 5.986 0 0 0-.349 4.754c.171.494.407.964.701 1.4-.203.272-.383.56-.536.858a6.02 6.02 0 0 0 .38 6.194c-.104.163-.202.329-.288.498a5.986 5.986 0 0 0-.35 4.754 6.05 6.05 0 0 0 1.774 2.607 6.021 6.021 0 0 0-.503 1.798 5.979 5.979 0 0 0 1.303 4.503c.903 1.118 2.22 1.903 3.656 2.196l-.01 1.795c0 .06 0 .123.002.184a3.886 3.886 0 0 0-.048.621c0 .12.009.25.026.395l.006.05a3.904 3.904 0 0 0 .146.639 3.371 3.371 0 0 0 .238.562 4.313 4.313 0 0 0 .165.283c.49.753 1.28 1.374 2.331 1.837.18.085.364.16.552.223.137.05.282.1.423.146 2.299.771 5.235.968 7.3.998.21.003.414.004.611.004h.397c.318-.004.635-.011.95-.023h.035c.308-.012.61-.027.935-.046h.028c.3-.019.597-.041.892-.066l.04-.003c.303-.026.598-.056.899-.09a27.72 27.72 0 0 0 1.96-.288 16.575 16.575 0 0 0 4.032.282c5.874-.3 10.94-3.612 13.55-8.86a16.914 16.914 0 0 0-1.141-17.02v.005Zm-4.114 14.405c-1.25 2.513-3.33 4.316-5.902 5.133l.02-3.67a2.929 2.929 0 0 0 2.543-1.058 2.937 2.937 0 0 0-.404-4.13c-1.12-.92-1.703-2.66-2.086-4.092l.074-12.9a2.95 2.95 0 0 0 .044-.734c0-.014-.08-1.45.243-3.111.27-1.391.889-3.206 2.302-4.05-.049.459-.2.934-.399 1.552-.564 1.762-1.336 4.176-.667 8.684.42 2.822 1.749 4.747 3.04 6.613.148.216.3.434.45.657a11.043 11.043 0 0 1 .742 11.108V61.7Z" fill="#FD7AD4"></path><path d="M28.636 40.454s-.558-7.41 4.165-10.001c.973-.533 2.17-.59 3.092.025.62.412 1.18 1.129 1.165 2.375-.034 2.769-1.998 4.086-1.113 10.04.36 2.431 1.68 4.089 3.014 6.052 5.79 8.528.636 20.75-10.132 21.3a13.559 13.559 0 0 1-7.554-1.836" fill="#FD7AD4"></path><path d="M28.636 40.454s-.558-7.41 4.165-10.001c.973-.533 2.17-.59 3.092.025.62.412 1.18 1.129 1.165 2.375-.034 2.769-1.998 4.086-1.113 10.04.36 2.431 1.68 4.089 3.014 6.052 5.79 8.528.636 20.75-10.132 21.3a13.559 13.559 0 0 1-7.554-1.836" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M28.678 25.706c-.014-1.282-4.147-2.28-9.233-2.23-5.087.05-9.2 1.13-9.186 2.413 0 .085.022.169.059.251a2.09 2.09 0 0 0-.096.583L9.99 67.481c0 .154.016.3.047.445a.673.673 0 0 0-.092.317c.005.416.45.802 1.218 1.133.094.047.192.085.294.119 1.65.618 4.49 1.01 7.721.977 2.623-.026 4.981-.326 6.654-.787l.476.003a2.087 2.087 0 0 0 1.495-.61c.206-.204.362-.443.47-.703a.682.682 0 0 0 .08-.263c.045-.171.077-.345.077-.526l.233-40.758c0-.25-.047-.492-.128-.72a.716.716 0 0 0 .143-.404v.002Z" fill="#FD7AD4" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="m23.554 64.64-1.846.298-7.695-47.483a2.356 2.356 0 0 0-1.285-1.733l-9.61-4.705.822-1.68 9.611 4.707a4.23 4.23 0 0 1 2.31 3.112l7.694 47.485-.001-.002Z" fill="#FD7AD4" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19.493 28.118c5.086-.05 9.199-1.13 9.186-2.413-.013-1.281-4.146-2.28-9.232-2.229-5.086.05-9.198 1.13-9.186 2.413.013 1.282 4.146 2.28 9.232 2.229Z" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19.18 70.471c5.087-.05 9.2-1.13 9.187-2.412-.013-1.282-4.146-2.28-9.232-2.23-5.086.05-9.199 1.131-9.186 2.413.013 1.282 4.146 2.28 9.232 2.23Z" fill="#FD7AD4" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M28.792 33.311c-4.188.013-6.759.82-9.248 1.6-1.282.402-2.533.795-3.931 1.055-1.696.318-3.608.445-6.058.164" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M25.768 19.752c-.057.01-.115.021-.172.028a3.56 3.56 0 0 1-2.65-.69 3.576 3.576 0 1 1 4.316-5.703 3.55 3.55 0 0 1 1.385 2.36 3.56 3.56 0 0 1-.69 2.65 3.557 3.557 0 0 1-2.189 1.357v-.002ZM31.68 9a2.717 2.717 0 0 1-2.155-.506A2.734 2.734 0 1 1 31.682 9h0ZM21.563 8.232a1.988 1.988 0 1 0 0-3.977 1.988 1.988 0 0 0 0 3.977ZM12.201 54.647c-.834 1.612-2.883 2.303-4.567 1.54l-2.298-.719c-1.683-.764-2.375-2.696-1.54-4.308.834-1.612 2.881-2.302 4.565-1.54l2.298.719c1.683.764 2.375 2.696 1.542 4.308Z" fill="#FD7AD4" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12.482 60.097c-.214 1.775-1.905 3.08-3.773 2.91l-.687-.156c-1.866-.17-3.213-1.754-3-3.53.214-1.776 1.905-3.081 3.773-2.91l.687.155c1.868.171 3.213 1.755 3 3.53v.001ZM12.773 48.16c-.835 1.612-2.884 2.304-4.567 1.54l-2.963-.926c-1.684-.764-2.376-2.696-1.541-4.308.834-1.611 2.882-2.302 4.565-1.54l2.963.926c1.684.764 2.376 2.697 1.543 4.309ZM12.96 41.15c-.834 1.612-2.883 2.304-4.567 1.54l-2.963-.926C3.746 41 3.055 39.067 3.89 37.456c.834-1.612 2.881-2.302 4.565-1.54l2.963.926c1.684.764 2.375 2.697 1.542 4.308ZM16.484 54.764c-.03.006-.062.01-.092.015a1.917 1.917 0 0 1-1.428-.372 1.928 1.928 0 1 1 1.519.358h.001ZM17.828 61.757a1.355 1.355 0 0 1-1.076-.253 1.364 1.364 0 1 1 1.074.252l.002.001ZM25.05 47.429l-.082.013c-.452.062-.9-.054-1.263-.33a1.705 1.705 0 1 1 1.344.316h0ZM17.572 43.527a1.662 1.662 0 1 0 0-3.323 1.662 1.662 0 0 0 0 3.323Z" fill="#FD7AD4" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path><path d="M28.469 54.079c.516 2.076 1.3 4.6 3.203 6.164l-3.203-6.164Z" fill="#FD7AD4"></path><path d="M28.469 54.079c.516 2.076 1.3 4.6 3.203 6.164" stroke="#fff" stroke-width="1.348" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="drink_svg__a"><path fill="#fff" transform="translate(.184 .647)" d="M0 0h44.116v72.759H0z"></path></clipPath></defs>
      </svg>
    </div>

    <h2 class="text-popup-heading">{{ section.settings.heading }}</h2>
    <p class="text-popup-subtext">{{ section.settings.subtext }}</p>

    {% if section.settings.button_label != blank %}
      <a href="{{ section.settings.button_link }}" class="text-popup-button">
        {{ section.settings.button_label }}
      </a>
    {% endif %}
  </div>
</div>

<style>
.text-popup-wrapper {
  background: linear-gradient(
    to bottom,
    {{section.settings.upper_background}} 50%,
    {{section.settings.bottom_background}} 50%
  );
}
</style>

{% schema %}
{
  "name": "Text Popup",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "This is a heading"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "This is a subtext"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "FIND IN STORE"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "SELECT BOTH BACKGROUNDS"
    },
    {
      "type": "color",
      "id": "upper_background",
      "label": "Upper Background"
    },
    {
      "type": "color",
      "id": "bottom_background",
      "label": "Bottom Background"
    },
  ],
  "presets": [
    {
      "name": "Text Popup",
      "category": "Custom"
    }
  ]
}
{% endschema %}
